@page "/"
@using TrackAndStore.UI.Entity
@inject EntityRepository entityRepository


<PageTitle>Track and Store</PageTitle>

<h1>Track and Store</h1>

<EntityList Entities="@entities" />

@code
{
    private List<Entity> entities = new List<Entity>
    {
        new Entity { Id = 1, ParentId = null, Name = "Car", EntityType = EntityType.Container, Description = "Zoom!" },
        new Entity { Id = 2, ParentId = null, Name = "Home", EntityType = EntityType.Location, Description = "No zoom." }
    };
}