@page "/"
@using TrackAndStore.UI.Entity
@inject EntityRepository EntityRepository

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app: @message

@code {
    public string message = "";

    protected override void OnInitialized()
    {
        message = EntityRepository.GetMessage();
    }
}